<header id="header" class="navbar navbar-expand-lg navbar-dark">
    <a href="/">
        <img src="/svg/logo.svg" class="rounded float-left mr-0 mr-md-2 clickable-img" alt="Milen Georgiev Logo" height="50" width="50">
    </a>
    <a class="navbar-brand font-weight-bold" href="/">Milen Georgiev</a>
</header>

