<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!--rule name="Force WWW and SSL" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^[^www]" />
            <add input="{HTTP_HOST}" pattern="^milen-georgiev\.herokuapp\.com?$" />
          </conditions>
          <action type="Redirect" url="https://www.milengeorgiev.co.uk/{R:1}" appendQueryString="true" redirectType="Temporary" />
        </rule-->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
