<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect requests to custom domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="*herokuapp*" />
            <add input="{HTTP_HOST}" pattern="^milengeorgiev\.co\.uk$" />
          </conditions>
          <action type="Redirect" url="https://www.milengeorgiev.co.uk/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
