@using MySite.Controllers;
@{
    Layout = "_Layout";
    ViewBag.Title = @HomeController.ViewTitle;
}

<div id="about" class="container">
    <h1 class="text-center font-weight-bold rounded-img">About me</h1>
    <hr />
    <div id="about-text" class="container">

    </div>
    <div class="container-fluid text-center">
        <img src="/image/Consult_Hyperion_Prize.jpg" alt="Best Student Price" style="width: 100%; margin-bottom: 20px;" class="shadow-img rounded-img">
    </div>
</div>
<div id="experience" class="container hidden">
    <h1 class="text-center font-weight-bold rounded-img">Experience</h1>
    <hr />
</div>
<div id="education" class="container hidden">
    <h1 class="text-center font-weight-bold rounded-img">Education</h1>
    <hr />
</div>
<div id="projects" class="container hidden">
    <h1 class="text-center font-weight-bold rounded-img">Projects</h1>
    <hr />
</div>
<div id="search" class="container hidden">
    <h1 class="text-center font-weight-bold rounded-img">Search Results</h1>
    <hr />
    <section class="form-inline mb-2">
        <input id="search-text-page" class="form-control mr-sm-2 col" type="search" placeholder="Search" aria-label="Search" onkeyup="search($('#search-text-page').val().trim())">
        <button onclick="search($('#search-text-page').val().trim());" class="btn btn-outline-light  my-2 my-sm-0">Search</button>
    </section>
    <hr />
</div>
