body {
    background-color: whitesmoke;
}

#header {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #1A535C !important
}

#main-content {
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: #B3C4C7;
    box-shadow: 0 10px 25px #B3C4C7;
    font-size: 15pt
}

.project-link {
    padding-top: 20px;
    margin-top: -20px;
}

.data-img {
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    max-width: 100% !important;
}

@media (min-width: 992px) {
    #main-content {
        margin-top: 90px;
    }

    #header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030
    }

    .project-link {
        padding-top: 90px;
        margin-top: -90px;
    }

    .floating-anchor {
        float: right;
        width: initial;
    }

    .data-img {
        margin-left: 20px;
    }
}

.left-rounded-img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }

@media (min-width: 768px) {
    .left-rounded-img {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 0;
    }
}

#footer {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3B6C73 !important;
    color: #B7C8CA
}

    #footer a:visited {
        color: #c2a60d !important;
    }

    #footer p {
        color: #B7C8CA;
    }

#text-content-holder {
    background-color: #94AEB1;
    color: #154047;
    padding-top: 15px;
    padding-bottom: 20px;
}

#address-div {
    background-color: #94AEB1;
    color: #154047;
    margin: auto;
    padding-top: 10px;
}

#map {
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.dropdown-item {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.hidden {
    display: none;
}

.clickable-img {
    opacity: 1;
    transition: 0.7s;
}

    .clickable-img:hover {
        opacity: 0.7;
        transition: 0.7s;
    }

img.svg {
    opacity: 1;
    transition: 0.7s;
}

    img.svg:hover {
        opacity: 0.4;
        transition: 0.7s;
    }

.LI-badge-container-vertical-light {
    box-shadow: 0 10px 20px #94AEB1 !important;
}

.secondary-text {
    color: #99861d !important;
}

a > .svg {
    margin-right: 10px;
}

h1 {
    background-color: #B3C4C7 !important;
    padding: 10px !important;
}

h4 {
    font-weight: 700 !important;
    font-size: 2.2rem !important;
}

h5 {
    color: #154047 !important;
    font-weight: 500 !important;
    font-size: 2rem !important;
    padding-top: 15px !important;
}

#address-heading {
    background-color: #B3C4C7;
    padding: 10px;
    margin-top: 5px;
}

p {
    text-align: justify
}

.rounded-img {
    border-radius: 15px;
}

.bottom-rounded-img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.shadow-img {
    box-shadow: 5px 10px 16px #41787b;
}

.LI-badge-container-vertical-light {
    border-radius: 15px !important;
}

.LI-profile-pic-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

mark {
    padding: 0;
    border-radius: 3px;
    background-color: #B3C4C7;
    color: inherit;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer-text-link {
    color: #c2a60d;
}

    .footer-text-link:hover {
        color: lightseagreen;
    }

.searched {
    background-color: #fcf4af;
}

.link-button {
    background-color: inherit;
    color: #99861d;
    border: 2px solid #99861d;
    text-align: center;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

    .link-button:hover {
        background-color: #99861d;
        color: lightgray;
    }

.nav-link {
    color: lightblue;
    font-style: italic;
}

    .nav-link:hover {
        color: lightgray !important;
    }

.navbar-brand {
    color: white;
    font-family: Consolas;
    font-size: 22px;
    margin-left: 5px;
}

    .navbar-brand:hover {
        color: lightgoldenrodyellow !important;
    }

.nav-link.active {
    color: white;
    font-weight: 500;
    font-style: italic;
}

    .nav-link.active:hover {
        color: lightgoldenrodyellow !important;
        transition: 300ms;
    }

.form-control {
    font-size: 1.5rem !important;
}