body {
    background-color: whitesmoke;
}

#header {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #1A535C !important
}

#main-content {
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: #B3C4C7;
    box-shadow: 0 10px 25px #B3C4C7;
    font-size: 14pt
}

.project-link {
    padding-top: 20px;
    margin-top: -20px;
}

@media (min-width: 992px) {
    #main-content {
        margin-top: 90px;
    }

    #header {
        position:fixed;
        top:0;
        right:0;
        left:0;
        z-index:1030
    }

    .project-link {
        padding-top: 90px;
        margin-top: -90px;
    }
}

#footer {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3B6C73 !important;
    color: #B7C8CA
}

#text-content-holder {
    background-color: #94AEB1;
    border-width: 10px !important;
    color: #154047;
    padding: 15px
}


.hidden {
    display: none;
}

.clickable-img {
    opacity: 1;
    transition: 0.7s;
}
.clickable-img:hover {
    opacity: 0.7;
    transition: 0.7s;
}

img.svg {
    opacity: 1;
    transition: 0.7s;
}
    img.svg:hover {
        opacity: 0.4;
        transition: 0.7s;
    }

.LI-badge-container-vertical-light {
    box-shadow: 0 10px 20px #94AEB1 !important;
}

.secondary-text {
    color: #99861d !important;
}

a>.svg {
    margin-right: 10px;
}

h2 {
    background-color: #B3C4C7;
    padding: 10px;
    margin-top: 5px;
}

p {
    text-align: justify
}

.rounded-img {
    border-radius: 15px !important;
}

.shadow-img {
    box-shadow: 5px 10px 16px #41787b;
}

.LI-badge-container-vertical-light {
    border-radius: 15px !important;
}

.LI-profile-pic-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

mark {
    padding: 0;
    border-radius: 3px;
    background-color: #B3C4C7;
    color: inherit;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.floating-anchor {
    float: right !important;
    padding-top: 5px;
    padding-left: 20px;
}

.footer-text-link {
    color: #c2a60d;
}

.searched {
    background-color: #fcf4af;
}