@using MySite.Controllers;
@{
    Layout = "_Layout";
    ViewBag.Title = ErrorController.NotFoundViewTitle;
}

<header id="header" class="navbar navbar-expand-lg navbar-dark">
    <a href="/">
        <img src="/svg/logo.svg" class="rounded float-left mr-0 mr-md-2 clickable-img" alt="logo" height="50" width="50">
    </a>
    <a class="navbar-brand font-weight-bold" href="/">Milen Georgiev</a>
</header>
<div id="main-content" class="container col-11 rounded-img">
    <div class="row">
        <div id="text-content-holder" class="col-xl-9 col-lg-8 col-md-7 left-rounded-img">


            <div id="error" class="container">
                <h1 class="text-center font-weight-bold rounded-img">404 - Page not found</h1>
                <hr />
                <p>Oops, better check that URL.</p>
            </div>

