@using MySite.Controllers;
@{
    Layout = "_Layout";
    ViewBag.Title = ErrorController.NotFoundViewTitle;
}

<div id="error" class="container">
    <h1 class="text-center font-weight-bold rounded-img">404 - Page not found</h1>
    <hr />
    <p>Oops, better check that URL.</p>
</div>

