@{
    ViewData["Title"] = MySite.Controllers.ErrorController.ServerErrorViewTitle;
    Layout = "_Layout";
}

<div id="error" class="container">
    <h1 class="text-center font-weight-bold rounded-img">505 - Server Error</h1>
    <hr />
    <p>Sorry, an error occurred while executing your request.</p>
</div>