@{
    ViewData["Title"] = MySite.Controllers.ErrorController.ServerErrorViewTitle;
    Layout = "_Layout";
}

<div id="error" class="container">
    <h1 class="text-center font-weight-bold rounded-img">500 - Server Error</h1>
    <hr />
    <h3>Sorry, an error occurred while executing your request.</h3>
</div>